## Maven files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

## Eclipse files
.project
.classpath

## IntelliJ IDEA
.idea/
*.iws

## Visual Studio Code
.vscode/
.history/
*.vsix


test.lck
test.log
test.properties
test.script


lib/
/trivialPursuitServer-data/trivialPursuitServer-data.iml
/trivialPursuitServer-core/trivialPursuitServer-core.iml
/trivialPursuitServer-api/trivialPursuitServer-api.iml
/trivialPursuitServer-websocket-controller/trivialPursuitServer-websocket-controller.iml
/trivialPursuitServer.iml
/trivial_pursuit_server.iml
